/* reset */

ul {
    list-style: none;
}

.logo-small {
    height: 50px;
    width: 50px;
}



/* NAVBAR*/
#nav {
    height: 60px;
}

#nav .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

#nav .form-control {
    padding-left: 2.375rem;
}

.form-group {
    position: relative;
    width: 70%;
}

.icon-header {
    position: absolute;
    top: 7px;
    left: 10px;


}

/* left-bar */

#left-bar {
    background-color: #13293f;
    background-image: url(/img/sidebar-bg.png);
    width: 80px;
    height: calc(100vh - 60px);
}

/* main container */

#main-container {
    width: calc(100% - 80px);
    height: calc(100vh - 60px);
    overflow: scroll;
}

/* main top */

.main-top {
    background-color: #1b72e8;
    height: 200px;
    color: white;

}

#plus {
    font-size: 30px;
    margin-left: 10px;
}

/* main buttom */

.img-table {
    width: 30px;
    height: 30px;
}

.table-cell-w {
    width: 50%;
}

/* media query left bar */
@media screen and (min-width:768px) {

    #left-bar {
        width: 150px;
    }
}